html,
body {
    padding: 0;
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    gap: 5px;
    grid-template: "viewport1 sidebar1" "viewport2 sidebar2";
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    background: rgb(169, 201, 169);
    color: rgb(26, 39, 26);
}

.sidebar {
    display: grid;
    min-width: 300px;
    padding: 5px;
    gap: 5px;
    overflow-y: scroll;
}

.sidebar.upper {
    grid-area: sidebar1;
}

.sidebar.lower {
    grid-area: sidebar2;
}

.payload {
    word-break: break-all;
}

.viewport {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.viewport.upper {
    grid-area: viewport1;
}

.viewport.lower {
    grid-area: viewport2;
}

table {
    border-top: 1px solid #96b299;
}

tbody tr:nth-child(odd) {
    background-color: rgb(197 220 197);
}

td {
    padding: 0 3px;
}

a {
    color: #444;
    text-decoration: none;
    cursor: pointer;
}