version: "3.0"
services:
    backend-hi:
        build: ../../backend-server
        ports:
            - 3333:3333
        volumes:
            - ${DATA_PATH:-.}:/data
        environment:
            - BEGS_FILES
            - MEMCACHED=memcached:11211
            - MEMCACHED_PREFIX=gb
            - THREADS=16
            - DEBUG
            - LOG_HOST
            - LOG_PORT
            - SOURCES_TOML
            - STARTUP_WAIT
            - TELEGRAF_HOST
            - TELEGRAF_PORT
            - MEMCACHED_BUMP_ON_RESTART
        networks:
            - default
        restart: on-failure

    backend-lo:
        build: ../../backend-server
        ports:
            - 3334:3333
        volumes:
            - ${DATA_PATH:-.}:/data
        environment:
            - BEGS_FILES
            - MEMCACHED=memcached:11211
            - MEMCACHED_PREFIX=gb
            - DEBUG
            - THREADS=4
            - LOG_HOST
            - LOG_PORT
            - SOURCES_TOML
            - STARTUP_WAIT
            - TELEGRAF_HOST
            - TELEGRAF_PORT
            - MEMCACHED_BUMP_ON_RESTART
        networks:
            - default
        restart: on-failure

    memcached:
        build: ../../memcached-container
        ports:
            - 11211:11211
        environment:
            - MEMCACHED_MB=1024
        networks:
            - default
        restart: on-failure

    bump-detector:
        build: ../../bump-container
        environment:
            - MEMCACHED=memcached:11211
            - MEMCACHED_PREFIX=gb
            - LOG_HOST
            - LOG_PORT
            - BUMP_URL=http://ensembl-2020-gb-flatfiles.s3.eu-west-2.amazonaws.com/bump
        volumes:
            - ${NGINX_CACHE_DIR:-/tmp}:/cache
        restart: on-failure
