#
# Where do you want your logs to go?
#
LOG_DIR=/home/dan/tmp/logs

#
# Where can I put the data cache (and how big can I make it?)
#
NGINX_CACHE_DIR=/home/dan/tmp/cache
NGINX_CACHE_SIZE=100m

#
# uid and gid of user (to make sure you can read the log file, etc).
#
FILE_OWNER=1001
FILE_GROUP=1001

#
# Debug please!
#
DEBUG=1

#
# Got a telegraf instance, for metrics?
#
TELEGRAF_HOST=host.docker.internal
TELEGRAF_PORT=8094

#
# Where are your begs files? (if not the ones inside the container)
#
BEGS_FILES=/home/developer/ensembl-dauphin-style-compiler/backend-server/egs-data/begs
