html, body {
    padding: 0;
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template: "header header" "viewport sidebar";
    grid-template-columns: 1fr min-content;
    grid-template-rows: 100px 1fr;
    transition: 2s;
}

.other {
    min-width: 300px;
}

.other2 {
    min-width: 50px;
    transition: 2s;
}

.viewport {
    grid-area: viewport;
    position: relative;
    height: 100%;
    overflow-y: auto;
}
