html, body {
    padding: 0;
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template: "header header" "viewport sidebar";
    grid-template-columns: 1fr 300px;
    grid-template-rows: 100px 1fr;
}

.viewport {
    grid-area: viewport;
    position: relative;
    height: 100%;
    overflow-y: auto;
}


.controls{

    margin: 20px
}
.controls span{
    
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    color: #0f91df;
    cursor: pointer;

}

.controls span:hover{
    border-color: #000;
}